body{
    font-family: 'Poppins', sans-serif !important;
    background-color:#6495ed !important;
}

.height{
   min-height:100vh;
}

.todo-page{
    background-color: white;
    width:400px;
    height: 40vh;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.display{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo{
    width: 85%;
    height: 50%;
}


.add-form input{
    width: 100%;
    padding: 15px;
    border-radius: 9px;
    border: 1px solid gray !important;
    text-indent: 10%;
    font-size: 19px !important;
    color: gray !important;
    opacity: 0.5;
}

.add-form input[type=text]:focus {
    /* border:1px solid #6495ed !important; */
    outline-color: #6495ed;
    opacity: 1 !important;
}

.buttons{
    width: 100%;
}

.option-button{
    border: none;
    background:none;
    color:black;
    opacity: 0.8;
    font-weight: 400;
    font-size: 17px;
    padding: 0;
    margin-right: 10px;
}

.active{
    color: #6495ed;
}

.clear{
    margin-left:33px;
    padding: 7px 10px;
    border: none;
    background-color: #6495ed;
    opacity:0.7;
    color: white;
    border-radius: 5px;
    font-size: 14px;
}

.warning{
    width: 100%;
    border-top: 1px solid gray;
}

.warning p{
    margin: 20px 35px;
    font-weight: 400;
    color: black;
    font-size: 17px;
}

.text-input{
    position:relative;
    width: 100%;
}

.text-input i{
    position: absolute;
    top: 50%;
    font-size: 20px;
    transform: translateY(-50%);
    left: 5%;
}

